<button {{bindAttr class="chooseDronesClass"}} {{action "chooseDrones"}}>
  <i class="icon-th-list"></i>&nbsp;
  Choose
</button>

<button {{bindAttr class="configureDronesClass"}} {{action "configureDrones"}}>
  <i class="icon-cogs"></i>&nbsp;
  Configure
</button>

<button {{bindAttr class="compileDronesClass"}} {{action "compileDrones"}}>
  {{#if App.compileController.isBusy}}
    <i class="icon-asterisk"></i>&nbsp;
    Busy...
  {{else}}
    <i class="icon-share-alt"></i>&nbsp;
    Compile
  {{/if}}
</button>
