<div class="btn-group">
  <button {{bindAttr class="chooseDronesClass"}} {{action "chooseDrones"}}>Choose</button>
  <button {{bindAttr class="configureDronesClass"}} {{action "configureDrones"}}>Configure</button>
  <button {{bindAttr class="compileDronesClass"}} {{action "compileDrones"}}>Compile</button>
</div>
