<button {{bindAttr class="chooseDronesClass"}} {{action "chooseDrones"}}>
  1.&nbsp;
  Choose
  &nbsp;
  <i class="icon-th-list"></i>
</button>

<button {{bindAttr class="configureDronesClass"}} {{action "configureDrones"}}>
  2.&nbsp;
  Configure
  &nbsp;
  <i class="icon-cogs"></i>
</button>

<button {{bindAttr class="compileDronesClass"}} {{action "compileDrones"}}>
  {{#if App.compileController.isBusy}}
    Busy...
    &nbsp;
    <i class="icon-asterisk"></i>&nbsp;
  {{else}}
    3.&nbsp;
    Compile
    &nbsp;
    <i class="icon-share-alt"></i>
  {{/if}}
</button>
